/* General styles */
body{
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.footer {
  background-color: black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section p {
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #5db0e1;
  background-color: transparent;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons img {
  width: 44px;
  height: 44px;
  margin: 0 1px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}


.social-icons a:hover {
  color: #5db0e1;
  background-color: transparent;
  transform: scale(1.2);
}
.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1600px;
  margin: 0 auto;
}
/* .colorful-text span:nth-child(1) { color: #ff0000; }
.colorful-text span:nth-child(2) { color: #ff7300; }
.colorful-text span:nth-child(3) { color: #ffeb00; }
.colorful-text span:nth-child(4) { color: #47ff00; }
.colorful-text span:nth-child(5) { color: #00ffee; }
.colorful-text span:nth-child(6) { color: #0047ff; }
.colorful-text span:nth-child(7) { color: #7d00ff; } */

@keyframes rainbow {
  0% { color: #ff0000; text-shadow: 0 0 10px #ff0000; }
  14% { color: #ff7300; text-shadow: 0 0 10px #ff7300; }
  28% { color: #ffeb00; text-shadow: 0 0 10px #ffeb00; }
  42% { color: #47ff00; text-shadow: 0 0 10px #47ff00; }
  57% { color: #00ffee; text-shadow: 0 0 10px #00ffee; }
  71% { color: #0047ff; text-shadow: 0 0 10px #0047ff; }
  85% { color: #7d00ff; text-shadow: 0 0 10px #7d00ff; }
  100% { color: #ff0000; text-shadow: 0 0 10px #ff0000; }
}

.colorful-text {
  font-size: 1rem;  /* Bigger text */
  font-weight: bold;  /* Make it bold */
  text-transform: uppercase; /* Uppercase letters */
  letter-spacing: 2px; /* Adds spacing for a better look */
  animation: rainbow 2s infinite linear; /* Smooth infinite animation */
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.9); /* Glowing effect */
  cursor: pointer;
}



/* Responsive styles */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 20px 0;
  }

  .social-icons a {
    font-size: 1.2rem;
    margin: 0 5px;
  }
}