/* Banner Section */
.banner-container {
  position: relative;
  width: 100%;
  height: 85vh; /* Use viewport height for flexibility */
  max-height: 1000px; /* Prevents it from getting too big on 4K screens */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-slide {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.banner-item {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image always fills the container */
  display: block;
}

/* Arrows */
.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive Adjustments */
/* @media (max-width: 1800px) {
  .banner-container {
    height: 80vh;
    max-height: 590px;
  }
} */
@media (max-width: 1800px) {
  .banner-container {
    height: 80vh;
    max-height: 690px;
  }
}

@media (max-width: 1024px) {
  .banner-container {
    height: 70vh;
    max-height: 350px;
  }
}

@media (max-width: 768px) {
  .banner-container {
    height: 60vh;
    max-height: 500px;
 
  }
}

@media (max-width: 480px) {
  .banner-container {
    height: 35vh;
    max-height: 150px;
    /* margin-top: -17px; */
    margin-top: 0px;
  }
  .arrow-left,
.arrow-right {
font-size: 1rem;
padding: 5px;
}
}
